.panda-card{
    border: 0;
}
.panda-cart-footer{
    background-color: white;
    border: 0;
}
.categories img{
    width: 100px;

}
.panda-carousel .carousel-item{
    background-color: #FEEAE9;
    border-radius: 1em;

}